<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Supreme-Coffee</title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style-leftblock.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <!-- !!!!! Navbar !!!!! -->
     <header>
        <!-- Nav -->    
         <div class="nav container">
            <div class="div-logo">
                <!-- Logo -->
             <a class="logo" href="/register">Supreme-Coffee</a>
            </div>

            <div class="div-search">
                    <form id="search-form" method="GET" action="/catalog/search">
                        <input type="text" id="search-query" name="text" placeholder="поиск" >
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
            </div>

            <div class="div-icons">
                <!-- Cart Icon --> 
                <i class="bx bx-shopping-bag" id="cart-icon" data-quantity="<%= countOfCartItem || 0 %>"></i>

            <!-- User Icon -->
            <img style="width:40px; height:40px; margin-right: 10px;
            border-radius: 90%;  
            overflow: hidden;   
            object-fit: cover;   
            object-position: center; "class="bx bx-user" src="<%= imgPath ? imgPath.replace('public/', '/') : '/images/user_img/user.png' %>" alt="User Icon" id="user-icon">

            <!-- <i class="bx bx-user" id="user-icon"></i> -->
            </div>


			<!-- cart -->
			 <div class="cart">
				<h2 class="cart-title">Your Cart</h2>
				<!-- Content -->
				 <div class="cart-content"></div>
				 <!-- Total -->
				  <div class="total">
					<div class="total-title">Total</div>
					<div class="total-price">$0</div>
				  </div>
				   <!-- Buy Button -->
					<button type="button" class="btn-buy">Pay Now</button>
					<!-- Close Cart -->
					 <i class='bx bx-x' id="close-cart"></i>
			 </div>
         </div>
     </header>

     <div class="div-container container">

        <!-- !!!!! Filter !!!!! --> 
	 <aside class="left-block-filters" >
        <br>
             <div class="filter-block">
               <div class="filter-item">
                 <h3 class="filter-title">Ціна</h3>
                 <div class="wrapper">
                   
                       <h3>Оберіть діапозон</h3>
                       

                   <div class="price-input">
                       <div class="field">
                           <!-- <span>Min</span> -->
                           <input type="number" class="input-min"id="minPrice" value="2500">
                       </div>
                       <div class="separator">-</div>
                       <div class="field">
                           <!-- <span>Max</span> -->
                           <input type="number" class="input-max" id="maxPrice" value="7500">
                       </div>
                       <button id="applyPrice" class="OK">OK</button>
                   </div>
                   
                   <div class="slider">
                       <div class="progress"></div>
                   </div>
                   <div class="range-input">
                       <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                       <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                   </div>
               </div>

               <br>  <!-- -------------------------------------->

               <div class="filter-item">
                <h3 class="filter-title">Вага</h3>
                <div class="wrapper">
                  
                      <h3>Оберіть діапозон</h3>
                      

                  <div class="price-input">
                      <div class="field">
                          <!-- <span>Min</span> -->
                          <input type="number" class="input-min" id="minWeight" value="2500">
                      </div>
                      <div class="separator">-</div>
                      <div class="field">
                          <!-- <span>Max</span> -->
                          <input type="number" class="input-max" id="maxWeight" value="7500">
                      </div>
                      <button id="applyWeight" class="OK">OK</button>
                  </div>
                  
                  <div class="slider">
                      <div class="progress"></div>
                  </div>
                  <div class="range-input">
                      <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                      <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                  </div>
              </div>

 <!-- --------------------------------------><br>
               </div>
 
               <div class="filter-item">
                 <h3 class="filter-title">Країна</h3>
                 <ul class="filter-list">
                 
                        <% uniqueCountries.forEach(country => { %>
                            <li>
                                <input type="checkbox" name="origin" value="<%= country %>"> <%= country %>
                            </li>
                        <% }) %>
                    </ul>
                 
               </div>
               <br>
               <div class="filter-item">
               <h3 class="filter-title">Вид кави</h3>
               <ul class="filter-list">
                   <li><input type="checkbox" name="type" value="bean"> Зерно</li>
                   <li><input type="checkbox" name="type" value="ground"> Молота</li>
               </ul>
           </div>
           <br>
           <div class="filter-item">
               <h3 class="filter-item">Склад кави</h3>
               <ul class="filter-list">
                   <li><input type="checkbox" name="composition" value="arabica"> Арабіка</li>
                   <li><input type="checkbox" name="composition" value="robusta"> Робуста</li>
               </ul></div>
             
               
          <center>   <button id="resetFilters">Сбросить фильтры</button></center>  
              
             <br>
         
      </aside>
 
      <!-- DropDown -->
      <div class="div-dropdown container">
         <div class="dropdown-text">
             <h3>Знайдено товарів <%= count %></h3>
         </div>
         <div class="dropdown">
         <div class="select">
             <span class="selected">DropDown</span>
             <div class="caret">
 
             </div>
         </div>
 
         <ul class="menu">
             <li>Test1</li>
             <li>Test2</li>
             <li>Test3</li>
             <li class="active">Test4</li>
         </ul>
 
     </div>
 
      </div>
 
      <!-- Products --> 
       
      <main>
      <div class="mainblock">
       <div class="shop container">
         <h2 class="section-title">Shop Products</h2>
         <!-- Shop Content --> 
         <div class="shop-content" id="products">
            <% if (message) { %>
                <p class="message"><%= message %></p>
            <% } %>
            <% coffees.forEach(coffee => { %>
                <div class="product-box" data-id="<%= coffee._id %>" data-name="<%= coffee.name %>">
                    <div class="image img-click">
                        <img src="/images/coffees_img/<%= coffee.imgPath.split('\\').pop() %>" alt="<%= coffee.name %>"  class="product-img"/>
                    </div>
                    <div class="product-description">
                        <span class="product-title">Кофе <%= coffee.type === 'bean' ? 'в зернах' : 'молотый' %> <%= coffee.name %> <%= coffee.netWeight %> г</span>
                    </div>
                    <div class="div-price-buybutton">
                        <div class="div-price"><span class="price">$<%= coffee.salePrice %></span></div>
                        <i class="bx bx-shopping-bag add-cart" data-coffee-id="<%= coffee._id %>"></i>   
                   </div>
                </div>
            <% }) %>
        </div>
     </div>
    </div>
      </main>


     </div>
     <script src="./js/catalog_product.js"></script>
     <script src="./js/catalog_profile.js"></script>
     <script src="./js/catalog_search.js"></script>
     <script src="./js/catalog_cart.js"></script>

	 <!-- Link To JS -->
    <script src="/js/script-leftblock.js"></script>
    <script src="script-leftblock.js"></script>
    <script src="/js/srcipt-dropdown.js"></script>
</body>

<script>
document.querySelectorAll('.add-cart').forEach(button => {
    button.addEventListener('click', () => {
        const coffeeId = button.getAttribute('data-coffee-id');  // Получаем ID кофе из атрибута

        fetch('/cart/add', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ coffeeId: coffeeId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Товар добавлен в корзину');location.reload();
            } else {
                alert('Ошибка при добавлении в корзину');
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    });
});

    document.addEventListener('DOMContentLoaded', () => {
        const filters = new URLSearchParams(window.location.search);
    
        // Установка значений из URL при загрузке страницы
        function setFiltersFromURL() {
            const minPrice = filters.get('price')?.split('-')[0] || '';
            const maxPrice = filters.get('price')?.split('-')[1] || '';
            document.getElementById('minPrice').value = minPrice;
            document.getElementById('maxPrice').value = maxPrice;
    
            const minWeight = filters.get('weight')?.split('-')[0] || '';
            const maxWeight = filters.get('weight')?.split('-')[1] || '';
            document.getElementById('minWeight').value = minWeight;
            document.getElementById('maxWeight').value = maxWeight;
    
            // Установка чекбоксов из URL
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                const values = filters.getAll(checkbox.name).join(',').split(',');
                checkbox.checked = values.includes(checkbox.value);
            });
        }
    
        // Применение фильтра по цене
        document.getElementById('applyPrice').addEventListener('click', () => {
            const minPrice = document.getElementById('minPrice').value;
            const maxPrice = document.getElementById('maxPrice').value;
            if (minPrice || maxPrice) {
                filters.set('price', `${minPrice || 0}-${maxPrice || 10000}`);
            } else {
                filters.delete('price');
            }
            applyFilters();
        });
    
        // Применение фильтра по весу
        document.getElementById('applyWeight').addEventListener('click', () => {
            const minWeight = document.getElementById('minWeight').value;
            const maxWeight = document.getElementById('maxWeight').value;
            if (minWeight || maxWeight) {
                filters.set('weight', `${minWeight || 0}-${maxWeight || 5000}`);
            } else {
                filters.delete('weight');
            }
            applyFilters();
        });
    
        // Обработка чекбоксов
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const name = checkbox.name;
                const selectedValues = Array.from(document.querySelectorAll(`input[name="${name}"]:checked`)).map(cb => cb.value);
    
                if (selectedValues.length) {
                    filters.set(name, selectedValues.join(','));
                } else {
                    filters.delete(name);
                }
                applyFilters();
            });
        });
    
        document.getElementById('resetFilters').addEventListener('click', () => {
        const currentUrl = new URL(window.location.href);
        
        // Очищаем все параметры поиска
        currentUrl.search = '';
        
        // Перенаправляем на URL без параметров
        window.location.href = currentUrl.toString();
    });
    
    
        function applyFilters() {
        // Добавляем текст поиска, если он есть
        const searchQuery = new URLSearchParams(window.location.search).get('text');
        if (searchQuery) {
            filters.set('text', searchQuery);
        }
        const url = `/catalog/filters?${filters.toString()}`;
        window.location.href = url;
    }
    
    
        setFiltersFromURL(); // Инициализация значений при загрузке
    });
    
    </script>
</html>
